*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {

}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}

.content {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
}

.search {
  margin: 20px auto 0;

}

.output {
  height: 500px;
  width: 400px;
  background: white;
  margin: 20px auto;
  border-radius: 20px;
  display: grid;
  grid-template-rows: 165px 165px 165px;
  opacity: ;
}

input {
  outline: none;
  border: none;
  height: 40px;
  min-width: 250px;
  width: 300px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 20px;
  letter-spacing: 2px;
  color: black;
  font-weight: 700;
  opacity: 0.7;
}

button {
  outline: none;
  border: none;
  height: 40px;
  margin-left: -5px;
  width: 70px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  color: white ;
  background: black;
  transition: .3s ease-in-out;
  cursor: pointer;

}

button:hover {
  background: rgb(164, 159, 159);
  color: black;
  font-weight: 600;
  transition: .3s ease-in-out;
}