* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.content {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
}

.search {
  margin: 20px auto 0;
}

.output {
  height: 500px;
  width: 400px;
  background: white;
  margin: 20px auto;
  border-radius: 20px;
  display: grid;
  grid-template-rows: 165px 165px 165px;
  opacity: 0.8;
}

.top {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  text-align: center;
  place-items: center;
}

#place {
  margin-top: 20px;
}

.cloud-image {
  margin-top: 20px;
}

.mid {
  text-align: center;
}

.clouds-type {
  font-size: 30px;
  font-weight: 600;
  margin: 20px 0 20px;
}

.temp-degree {
  font-size: 30px;
}

.temp-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-weight: 600;
  margin-top: 20px;
}

.bottom {
  display: grid;
  grid-template-columns: 133px 133px 133px;
  font-size: 20px;
  font-weight: 600;
}

.wind {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  text-align: center;
  place-items: center;
  margin-left: -15px;
}

.wind-name {
  margin-bottom: 15px;
}

.pressure {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  text-align: center;
  place-items: center;
  margin-left: -15px;
}

.pressure-name {
  margin-bottom: 15px;
}

.humidity {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  text-align: center;
  place-items: center;
}

.humidity-name {
  margin-bottom: 15px;
}

input {
  outline: none;
  border: none;
  height: 40px;
  min-width: 250px;
  width: 300px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 20px;
  letter-spacing: 2px;
  color: black;
  font-weight: 700;
  opacity: 0.7;
}

button {
  outline: none;
  border: none;
  height: 40px;
  margin-left: -5px;
  width: 70px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  color: white;
  background: black;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  font-weight: 600;
}

button:hover {
  background: rgb(46, 45, 45);
  color: rgb(255, 255, 255);
  transition: 0.3s ease-in-out;
}
